.button-container
{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.btn
{
  width: 20%;
}
.card-width
{
  width: 80% !important;
}
#middle
{
  margin-top: 5% !important;
}
.title
{
  color: #00E3A4;
}
