body
{

  background-color: #19171A;
  color: #04FFC0;
}
.white
{
  color: white;
}
.btn-outline-info
{
  color: #04FFC0;
  border-color: #04FFC0;
}
.btn-outline-info:hover
{
  background-color: #04FFC0;
  border-color: #04FFC0;
}


/* navbar */
.nav-link
{
  color: #04FFC0;
  font-family: 'Poppins', sans-serif !important;
  font-size: 2.2vh;
}
.nav-link:hover
{
  color: #00C68A;
}
.nav
{
  margin-top: 20px;
}

/* title */
.main-header
{
  font-size: 7rem;
  text-align: center;
  margin-top: 20vh;
}

/* Cards */
.card-img-top
{
  padding: 30px;
  width: 100%;
  height: 100%;
}
.card
{
  background: #1f2833;
  width: 26% !important;
  font-family: 'Poppins', sans-serif !important;
}
#middle
{
  margin: 20% auto 20% auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* Preloader */

.loader-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* text-transform: uppercase; */
}


.pre-loader
{
  font-weight: bold;
  position: relative;
  font-size: 14vh;
  color: #19171A;
  -webkit-text-stroke: 0.25vw #383d52;
  letter-spacing: 1rem;
}

.pre-loader::before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #04FFC0;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #04FFC0;
  overflow: hidden;
  animation: title-animate 3s linear infinite;
}
@keyframes title-animate {
  0%,10%,100%
  {
    width: 0;
  }
  70%, 90%
  {
    width: 100%;
  }
}


/* Footer */
#footer
{
  background: white;
}
.container-footer
{
  padding: 0rem;
  text-align: center;
}
.icon-footer
{
  margin: 2%;
  color: #00080A;
}
.icon-footer:hover
{
  margin: 2%;
  color: #0097BD;
}
.footer-copyright
{
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  padding-bottom: 40px;
}
